<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>criket portal</title>
    <link rel="stylesheet" type="text/css" href="D:\visuals\tryvarchas\website\static\vendor\bootstrap\css\bootstrap.min.css">
</head>
<body>
    <div class="bg-primary text-center" style="padding: 10px;"><h3>VARCHAS ADMIN PORTAL</h3></div>
 <div class="container"><br>
    <div class="bg-light" style="position: relative;"><br>
     <div class="text-center"><h4>GAME LIVE DATA EDIT</h4></div><br>
     
         <div style="position: absolute; left: 20%; padding: 5px;">
             <h6>NAME:::{{}}
                 <br><br>
                 CODE:::{{}}

             </h6>
         </div>
         <div style="position: absolute; right: 25%; padding: 5px;">
            <h6>TYPE:::{{}}<br><br>
                TIME:::{{}}
            </h6>
        
         </div>
         <br><br><br><br>
         <div class="text-center"><h4>{{}}&nbsp;VS&nbsp;{{}}</h4></div><br>
         <button id="start" style="position: relative;left: 20%;">START GAME</button>
         <h2 style="position: relative;left: 36%;display: inline;background:rgb(20, 20, 19) 125); padding: 5px;">00:00</h2>
         <button id="start" style="position: relative;left: 50%;" disabled="true">END GAME</button><br><br>
         
    </div>
    <br><br>

    <div
 </div>
</body>