<!DOCTYPE html><!--pass c dat and game-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>criket portal</title>
    {% load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    <div class="bg-primary text-center" style="padding: 10px;"><h3>VARCHAS ADMIN PORTAL</h3></div>
 <div class="container"><br>
    <div class="bg-light" style="position: relative;"><br>
     <div class="text-center"><h4>GAME LIVE DATA EDIT</h4></div><br>
     
         <div style="position: absolute; left: 20%; padding: 5px;">
             <h6>NAME:::&nbsp;{{game.game_name}}
                 <br><br>
                 CODE:::&nbsp;<span id ="id">  {{game.game_id}}</span>

             </h6>
         </div>
         <div style="position: absolute; right: 25%; padding: 5px;">
            <h6>TYPE:::&nbsp;{{game.game_type}}<br><br>
                TIME:::&nbsp;{{game.game_time}}
            </h6>
        
         </div>
         <br><br><br><br>
         
         <div style="position: relative; width: 100%;">
         <button id="main" style="position: relative;left: 20%;" data-toggle="modal" data-target="#exampleModal">START GAME</button>
         <h2 id ="timer"style="position: relative;left: 36%;display: inline;background:palegoldenrod; padding: 5px;">00:00</h2>
         <button id="c_button" style="position: relative;left: 60%;">RESUME</button>
         </div><br>
    </div>
    <br><br>
    <!--end gane modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action ="/login/vol/game" method ="POST">
                  <input type="hidden" value="end" name='type'>
                  <input type="hidden" value="{{game.game_id}}" name='id'>
                  {% csrf_token %}
                  <h5>
                      SELECT THE WINNER&nbsp;&nbsp;
                      <select name="winner">
                      <option>{{game.team1}}</option>
                      <option>{{game.team2}}</option>
                  </select></h5><BR>
              ending&nbsp;comments::&nbsp;<input name="comments" value=" "><br><br>
              <small class="text-alert">*before ending make sure that all scores are correct<br>
                **for any problem contact admin</small>
            </div>
            <div class="modal-footer">
                
              <button type="button" class="btn-secondary btn" data-dismiss="modal">CLOSE</button>
              <input type="submit" class="btn-primary btn" value ="SURE END">
            </div>
        </form>
          </div>
        </div>
      </div>
    <!--GAME CRICKET-->
    {% if c == 10 %}
    <div class="bg-light row" style="position: relative;"><br>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
          <h5>{{game.team1}}<br><br>
            OVER:::<span id ="overs1">{{dat.overs_1}}</span><br><br>
            ADD TO SCORE<br><br>
            RUNS:::
            <select id ="runs_data1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>&nbsp;&nbsp;
            WICKETS:::<select id="wkt1">
                <option>0</option>
                <option>1</option>
            </select>
            </h5>
            <br>
            <button class="btn btn-primary tr" id = "11">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary tr"id="12">UNDO</button><br>
          <span id="loader_c1" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score1">{{dat.team1_score}}</span></h5>
          <br>
        
          

      </div>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
        <h5>{{game.team2}}<br><br>
          OVER:::<span id ="overs2">{{dat.overs_2}}</span><br><br>
          ADD TO SCORE<br><br>
          RUNS:::
          <select id ="runs_data2">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
          </select>&nbsp;&nbsp;
          WICKETS:::<select id="wkt2">
              <option>0</option>
              <option>1</option>
          </select>
          

        </h5>
        
        <br><button class="btn btn-primary tr" id = "21">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary tr"id="22">UNDO</button><br>
          <span id="loader_c2" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score2">{{dat.team2_score}}</span></h5>
          <br>
     </div>
     <h1   class="bg-light"style="position: absolute;top: 45%;left:47.5%;">VS</h1>

    </div>
    {%endif%}

    <!--GAME TYPE BASKETBALL-->
    {% if c == 11 %}
    <div class="bg-light row" style="position: relative;"><br>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
          <h5>{{game.team1}}<br><br>
           
            ADD TO SCORE<br><br>
            SCORE:::
            <select id ="runs_data1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
           
            </select>
             </h5>
             <br><button class="btn btn-primary tr" id = "11">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary tr"id="12">UNDO</button><br>
          <span id="loader_b1" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score1">{{dat.team1_score}}</span></h5>
          <br>
          

      </div>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
        <h5>{{game.team2}}<br><br>
          
          ADD TO SCORE<br><br>
          SCORE:::
          <select id ="runs_data2">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
          
          </select>
          
          </h5>
          <br><button class="btn btn-primary tr" id = "21">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary tr"id="22">UNDO</button><br>
          <span id="loader_b2" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score2">{{dat.team2_score}}</span></h5>
          <br>
        </div>
     <h1   class="bg-light"style="position: absolute;top: 45%;left:47.5%;">VS</h1>

    </div>
    {%endif%}

 </div>
 <!--for ajax-->
 <div id ="ac_start_time" style="visibility: hidden;">{{game.ac_start_time}}</div> 
 <div id ="live_status" style="visibility: hidden;">{{game.live_status}}</div>  
</body>
</html>
<script src="{% static 'vendor\jquery\jquery-3.2.1.min.js'%}"></script>
{% csrf_token %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
overs=parseFloat($("#overs1").text());if((overs)%10==6){overs=overs+4}else{overs=overs+1};$("#overs1").text(overs/10);
overs=parseFloat($("#overs2").text());if((overs)%10==6){overs=overs+4}else{overs=overs+1};$("#overs2").text(overs/10);

 a=$("input[name='csrfmiddlewaretoken']").val();
 $('#c_button').hide();
 $(".loader").hide();
 $(".tr").removeAttr("disabled");
 starts = parseInt($("#ac_start_time").html());
     var Clock = {
    totalSeconds: starts,

    start: function () {
        var self = this;

        this.interval = setInterval(function () {
            self.totalSeconds += 1;
            $.post('./game',{'type':"clock",'data':self.totalSeconds,'id': $("#id").html(),'csrfmiddlewaretoken':a})
            $("#timer").text(Math.floor(self.totalSeconds / 60)+":"+Math.floor(self.totalSeconds % 60))
        }, 1000);
    },

    pause: function () {
        clearInterval(this.interval);
        delete this.interval;
    },

    resume: function () {
        if (!this.interval) this.start();
    }
};
  
 $("#main").on("click",function(){
     
     if ($("#main").html() == "START GAME") {
        
        $.ajax({
                data: {'csrfmiddlewaretoken':a,
                       'type': "start",
                       'id': $("#id").html(),
                    },
                type: 'POST',
                url: './game'
            });
     $(".tr").removeAttr("disabled"); 
     $("#main").text("END GAME");
     Clock.start();
     $('#c_button').html("PAUSE");
     $('#c_button').show();
     }
 });
 $('#c_button').click(function () { 
    if($('#c_button').html()=="PAUSE"){Clock.pause();$('#c_button').html("RESUME")}
    else if($('#c_button').html()=="RESUME"){Clock.resume();$('#c_button').html("PAUSE")}
 });
 console.log($("#live_status").html());
 if($("#live_status").html()== 'True'){
    $(".tr").removeAttr("disabled"); 
     $("#main").text("END GAME")
     $("#timer").text(Math.floor(starts/ 60)+":"+Math.floor(starts % 60))
     $('#c_button').show();
     $('#c_button').html("RESUME")


 }
 


 $(".tr").on("click",function(){
    
    $(".tr").attr("disabled","true");
    var team= parseInt(parseInt(this.id)/10)
    var type= parseInt(parseInt(this.id)%10)
    var val = $("#runs_data"+team).val();
    var wicket=$("#wkt"+team).val();
    var overs=(parseInt($("#overs"+team).text()*10));
    console.log("dd"+overs);
    $(".loader").show();
    $.ajax({
                data: {'csrfmiddlewaretoken':a,
                       'request': type,
                       'id': $("#id").html(),
                       'value': val,
                       'wicket': wicket,
                       'overs':overs,
                       'team': team,
            
            },
                type: 'POST',
                url: './update'
            })
                .done(function (data) {
                    if (data['status']=="success") {
                        $("#score"+team).text(data['score']);
                        console.log(data['overs']);
                        overs=parseInt(data['overs']);if((overs)%10==6){overs=overs+4}else{overs=overs+1};$("#overs"+team).text(overs/10);
                        $(".loader").hide();
                        $(".tr").removeAttr("disabled");            

                    }
                    else{
                        alert("update unsuccessfull try again");
                        $(".loader").hide();
                        $(".tr").removeAttr("disabled");   
                    }
                });
    
 });

</script>