<!DOCTYPE html><!--pass c dat and game-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>criket portal</title>
    {% load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="bg-primary text-center" style="padding: 10px;"><h3>VARCHAS ADMIN PORTAL</h3></div>
 <div class="container"><br>
    <div class="bg-light" style="position: relative;"><br>
     <div class="text-center"><h4>GAME LIVE DATA EDIT</h4></div><br>
     
         <div style="position: absolute; left: 20%; padding: 5px;">
             <h6>NAME:::&nbsp;{{game.game_name}}
                 <br><br>
                 CODE:::&nbsp;<span id ="id">  {{game.game_id}}</span>

             </h6>
         </div>
         <div style="position: absolute; right: 25%; padding: 5px;">
            <h6>TYPE:::&nbsp;{{game.game_type}}<br><br>
                TIME:::&nbsp;{{game.game_time}}
            </h6>
        
         </div>
         <br><br><br><br>
         
         <div style="position: relative; width: 100%;">
         <button id="main" style="position: relative;left: 20%;">START GAME</button>
         <h2 id ="timer"style="position: relative;left: 36%;display: inline;background:palegoldenrod; padding: 5px;">00:00</h2>
         <button id="c_button" style="position: relative;left: 60%;">RESUME</button>
         </div><br>
    </div>
    <br><br>
    <!--GAME CRICKET-->
    {% if c == 10 %}
    <div class="bg-light row" style="position: relative;"><br>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
          <h5>{{game.team1}}<br><br>
            OVER:::<span id ="overs1">{{dat.over_1}}<br><br></span>
            ADD TO SCORE<br><br>
            RUNS:::
            <select id ="runs_data1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
            </select>&nbsp;&nbsp;
            WICKETS:::<select id="wkt1">
                <option>0</option>
                <option>1</option>
            </select>
            </h5>
            <br>
            <button class="btn btn-primary" id = "11">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary"id="12">UNDO</button><br>
          <span id="loader_c1" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score1">{{dat.team1_score}}</span></h5>
          <br>
        
          

      </div>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
        <h5>{{game.team2}}<br><br>
          OVER:::<span id ="overs2">{{dat.over_2}}<br><br></span>
          ADD TO SCORE<br><br>
          RUNS:::
          <select id ="runs_data2">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
          </select>&nbsp;&nbsp;
          WICKETS:::<select id="wkt2">
              <option>0</option>
              <option>1</option>
          </select>
          

        </h5>
        
        <br><button class="btn btn-primary" id = "c_add2">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary"id="c_undo2">UNDO</button><br>
          <span id="loader_c2" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score2">{{dat.team2_score}}</span></h5>
          <br>
     </div>
     <h1   class="bg-light"style="position: absolute;top: 45%;left:47.5%;">VS</h1>

    </div>
    {%endif%}

    <!--GAME TYPE BASKETBALL-->
    {% if c == 11 %}
    <div class="bg-light row" style="position: relative;"><br>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
          <h5>{{game.team1}}<br><br>
           
            ADD TO SCORE<br><br>
            SCORE:::
            <select id ="runs_data1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
           
            </select>
             </h5>
             <br><button class="btn btn-primary" id = "11">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary"id="12">UNDO</button><br>
          <span id="loader_b1" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score1">{{dat.team1_score}}</span></h5>
          <br>
          

      </div>
      <div class="col-md-6 border border-primary text-center">
          <br><br>
        <h5>{{game.team2}}<br><br>
          
          ADD TO SCORE<br><br>
          SCORE:::
          <select id ="runs_data2">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
          
          </select>
          
          </h5>
          <br><button class="btn btn-primary" id = "21">ADD</button>
          &nbsp;&nbsp;
          <button  class="btn btn-primary"id="22">UNDO</button><br>
          <span id="loader_b2" class="loader">
            <div class="spinner-border spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>updating</span>
          </span>
         
          <br><br>
          <h5>SCORE:::&nbsp;<span id ="score2">{{dat.team2_score}}</span></h5>
          <br>
        </div>
     <h1   class="bg-light"style="position: absolute;top: 45%;left:47.5%;">VS</h1>

    </div>
    {%endif%}

 </div>
 <!--for ajax-->
 <div id ="ac_start_time" style="visibility: hidden;">{{game.ac_start_time}}</div> 
 <div id ="live_status" style="visibility: hidden;">{{game.live_status}}</div>  
</body>
</html>
<script src="{% static 'vendor\jquery\jquery-3.2.1.min.js'%}"></script>
{% csrf_token %}

<script>
 a=$("input[name='csrfmiddlewaretoken']").val()
 $('#c_button').hide();
 $(".loader").hide();
 $(".btn").removeAttr("disabled");
 starts = parseInt($("#ac_start_time").html());
     var Clock = {
    totalSeconds: starts,

    start: function () {
        var self = this;

        this.interval = setInterval(function () {
            self.totalSeconds += 1;
            $.post('./game',{'type':"clock",'data':self.totalSeconds,'id': $("#id").html(),'csrfmiddlewaretoken':a})
            $("#timer").text(Math.floor(self.totalSeconds / 60)+":"+Math.floor(self.totalSeconds % 60))
        }, 1000);
    },

    pause: function () {
        clearInterval(this.interval);
        delete this.interval;
    },

    resume: function () {
        if (!this.interval) this.start();
    }
};
  
 $("#main").on("click",function(){
     console.log($("#main").html())
     if ($("#main").html() == "START GAME") {
        
        $.ajax({
                data: {'csrfmiddlewaretoken':a,
                       'type': "start",
                       'id': $("#id").html(),
                    },
                type: 'POST',
                url: './game'
            });
     $(".btn").removeAttr("disabled"); 
     $("#main").text("END GAME");
     Clock.start();
     $('#c_button').html("PAUSE");
     $('#c_button').show();
     }
 });
 $('#c_button').click(function () { 
    if($('#c_button').html()=="PAUSE"){Clock.pause();$('#c_button').html("RESUME")}
    else if($('#c_button').html()=="RESUME"){Clock.resume();$('#c_button').html("PAUSE")}
 });
 console.log($("#live_status").html());
 if($("#live_status").html()== 'True'){
    $(".btn").removeAttr("disabled"); 
     $("#main").text("END GAME")
     $("#timer").text(Math.floor(starts/ 60)+":"+Math.floor(starts % 60))
     $('#c_button').show();
     $('#c_button').html("RESUME")


 }
 


 $(".btn").on("click",function(){
    
    $(".btn").attr("disabled","true");
    var team= parseInt(parseInt(this.id)/10)
    var type= parseInt(parseInt(this.id)%10)
    var val = $("#runs_data"+team).val();
    var wicket=$("wkt"+team).val();
    var overs=$("overs"+team).text();
    $("#loader"+team).show();
    $.ajax({
                data: {'csrfmiddlewaretoken':a,
                       'request': type,
                       'id': $("#id").html(),
                       'value': val,
                       'wkt': wicket,
                       'over':overs,
                       'team': team,
            
            },
                type: 'POST',
                url: './update'
            })
                .done(function (data) {
                    if (data['status']=="success") {
                        $("#score"+team).text(data['score']);
                        overs=parseInt(overs);if((overs*10)%10==6){overs=overs+0.4}else{overs=overs+0.1};$("overs"+team).text(overs)
                    }
                    else{
                        alert("update unsuccessfull try again");
                    }
                });
    $("#loader"+team).hide();
    $(".btn").removeAttr("disabled");            
 });
 console.log("ll")
</script>