<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>live match</title>
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    
</head>
<body>
    <div class="row">
        {% for data in daw %}
        <div class="col-md-4 border border-primary" style="padding: 0px;">
            <br>
            <div class="text-center"><h4>LIVE MATCH<br>({{data.assignment_code}})</h4></div><br>
            <div class="bg-light text-center">{{data.game_name}}</div><br>
            <div class="text-center">
                <h5>{{data.team1}}<br><br>VS<br><br>{{data.team2}}<br><br></h5>
                <h5><span id="score1_{{data.game_id}}">0</span>&nbsp;-&nbsp;<span id="score2_{{data.game_id}}">0</span></h5>
                <h6>VENUE:&nbsp; {{data.match_place}}&nbsp;on &nbsp;{{data.game_date}}&nbsp;{{data.game_time}} </h6><br>
            </div>
        </div>
        {% endfor %}
        {% csrf_token %}
        <script type="text/javascript">
             a=$("input[name='csrfmiddlewaretoken']").val();
            function call(){
                console.log("ll")
                $.ajax({
                        data: {'csrfmiddlewaretoken':a},
                        type: 'POST',
                        url: '/livematch'
                    })
                        .done(function (data) {
                            
                            if (data.length == {{ldaw}}) {
                                for (j in data) {
                                    $('#score1_' + data[j]['id']).html(data[j]['score1']);
                                    
                                    $('#score2_' + data[j]['id']).html(data[j]['score2']);
                                }
                            }else {
                                console.log('Not Matching');
                                location.reload();
                            }
            });
            };
            call();
            console.log("l")
            setInterval(() => {
                call();
                
            }, 10000);
            </script>
</body>
</html>